$fast: .25s all ease-in-out;
$slow: .4s all ease-in-out;

.block-btn{
    display: flex;
}
.btn{
    min-width: 150px;
    min-height: 30px;
    padding: 12px 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: $fast;
    font-family: $Montserrat-SemiBold;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    i{
        font-size: 20px;
        margin-right: 10px;
    }
}
.btn-outline{
    background: transparent;
    border: 1px solid $black;
    color: $black;
    height: 50px;
    border-radius: 0;
    &:hover{
        background: $yellow;
        color: $black;
    }
}
.btn-yellow{
    background-color: $yellow;
    color: $white;
    &:hover{
        background-color: $black;
        color: $white;
    }
}
.btn-black{
    background-color: $black;
    color: $white;
    &:hover{
        background-color: $yellow;
        color: $black;
    }
}
.btn-whatsapp{
    background-color: $green;
    color: $white;
}