$fast: .25s all ease-in-out;
$slow: .4s all ease-in-out;

.block-btn{
    display: flex;
}
.btn{
    min-width: 150px;
    min-height: 30px;
    padding: 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: $fast;
    font-family: $Montserrat-SemiBold;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-yellow{
    background-color: $yellow;
    color: $white;
    &:hover{
        background-color: $black;
        color: $black;
    }
}
.btn-black{
    background-color: $black;
    color: $white;
    &:hover{
        background-color: $yellow;
        color: $black;
    }
}
.btn-whatsapp{
    background-color: $green;
    color: $white;
}